.navbar-fixed-top {
    background: #fff;
    box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
}

.navbar-default .navbar-nav>li>a {
    padding-left: 10px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: rgb(230, 230, 230);
    border-radius: 2px;
}

#me_image {
    top: 100px;
    left: 53%;
    width: 150px;
    height: 150px;
    display: block;
    border: 3px solid #EEE;
    overflow: hidden;
    position: absolute;
    border-radius: 20px 5px;
    box-shadow: 5px 5px 20px #111;
}

#me_image img {
    position: relative !important;
    display: inline !important;
    top: -10px;
    left: -25px;
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
    box-shadow: 100px 100px 15px #000;
}

#name_photo_container {
    position: relative;
}

.name {
    margin-right: 330px;
    padding-top: 120px;
    font-size: 5em;
    color: #fff;
}

#name {
    margin-top: -20px
}

.nameB {
    padding-right: 0;
    padding-left: 0;
    padding-top: 30px;
    -webkit-animation: bg-trans 10s linear infinite alternate;
    -webkit-transition: all 0.75s linear;
    -moz-transition: all 0.75s linear;
    -o-transition: all 0.75s linear;
    transition: all 0.75s linear;
}

@-webkit-keyframes bg-trans {
    from {
        background-color: #62CE9B;
    }
    to {
        background-color: #45ce93;
    }
}

.tagline {
    margin: 0px 10px 0px -220px;
    padding-bottom: 100px;
    color: #FFF;
    text-decoration: none !important;
}

#about {
    padding-top: 15px;
    padding-bottom: 35px;
    background-color: #EEE;
}

#skills {
    background-color: #222;
    color: #EEE;
}

#skills span.btn {
    cursor: default!important;
    background-color: #62CE9B;
    margin: 5px;
    font-weight: bold;
}

#skills span.btn:hover {
    text-decoration: none;
    color: #EEE;
}

.skill_list_label {
    text-align: right;
    margin-top: 10px
}

.skill_list_items {
    text-align: left;
    margin-bottom: 10px;
}

#experience {
    background-color: #222;
    color: #EEE;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    -webkit-transition: background-color 700ms ease;
    background-color: #DAD8D8 !important;
    color: #000
}

#projects {
    background-color: #EEE;
    padding-top: 20px;
}

.projSquare {
    min-height: 250px;
    max-width: 470px;
    background-color: #FFF;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
    position: relative;
}

.projSquare:hover {
    transition-duration: 500ms;
    background-color: #AAA;
}

.projSquareInfo {
    display: table-cell;
    padding: 12px 12px 0;
    text-align: left;
    text-align: center;
    vertical-align: middle;
    height: 300px;
}

.projSquareInfo a {
    color: #202070;
    text-decoration: underline;
    z-index: 5;
    position: relative;
}

.projSquareInfo a:hover {
    color: #627af3;
}


/*Important:*/

.link-spanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#experience {
    padding: 20px 0px 40px 0px;
}

.exp_date {
    margin-top: 30px;
    margin-bottom: 15px;
    font-style: italic;
    font-size: 14px;
}

.exp_company {
    font-weight: 900;
    margin-bottom: 10px;
    font-size: 18px;
}

.exp_title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 20px;
    color: #45ce93;
}

.exp_square {
    width: 70%;
    background-color: #333;
    border-radius: 10px;
    padding: 35px;
    margin: 0 auto;
}

.social-media-link:hover {
    text-decoration: none;
    background: rgba(228, 228, 228, 0.06);
}

#contact-send-button:hover {
    background: rgba(228, 228, 228, 0.06);
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 30px;
}

#copyright {
    background-color: #222;
    color: #EEE;
}

@media (min-width: 1920px) {
    #skills {
        padding: 20px 200px 40px 200px;
    }
    #project-list {
        padding: 20px 200px 20px 200px;
    }
}

@media (max-width: 1920px) {
    #skills {
        padding: 20px 200px 40px 200px;
    }
    #project-list {
        padding: 20px 200px 20px 200px;
    }
}

@media (max-width: 1400px) {
    #skills {
        padding: 0px 100px 20px 100px;
    }
    #project-list {
        padding: 0px 50px 0px 50px;
    }
}

@media (max-width: 767px) {
    .skill_list_label,
    .skill_list_items {
        text-align: center
    }
}

@media (max-width: 500px) {
    .name {
        font-size: 45px;
        margin-left: 50px;
    }
    .tagline {
        margin: 0px 100px 0px 0px;
        padding-top: 10px;
        padding-bottom: 50px;
    }
    #me_image {
        top: 80px;
    }
    #skills {
        padding: 0px 30px 20px 30px;
    }
    #project-list {
        padding: 0px 10px 0px 10px;
    }
    .projSquare {
        width: 90%;
    }
    .exp_square {
        width: 90%;
    }
}

@media(min-width: 1100px) {
    .wrapper {
        width: 1100px;
        margin: auto;
    }
}
